/*  your css code here. If applicable */
.middle{
    margin: auto;
    width: 60%;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

table{
    border: 1px solid black;
    border-spacing: 1px;
}

td{
    padding: 1px;
    border: 1px solid black;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}
	border: 1px solid black;
	border-collapse: collapse; 
	width: 100%
}
#t21{
    border: 1px solid black;
	padding: 1px;
	height:10px;
}

#table-2 td{
	border:1px solid black;
	
}

#table-3{
	border: 1px solid black;
	border-collapse: collapse; 
	width: 100%;
	margin: auto;
}
#green{
	background: green;
	border: 1px solid black;
	 padding: 1px;
	 height:20px;
}
#blue{
	background: blue;
	border: 1px solid black;
	 padding: 1px;
	 height:20px;
}

#t-image{
	text-align:center;
}