/*  your css code here. If applicable */
.middle{
    margin: auto;
    width: 60%;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

table{
  border-collapse: collapse;
    border-spacing: 1px;
  border: 1px solid rgb(0, 0, 0);
    width: 100%;
}


td {
    padding: 1px;
     border: 1px solid rgb(0, 0, 0); /* Set the border property to match the expected value */
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}